body{
    margin: 0;
    margin-top: 1.5%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    

}

.element-left{
    float: left;
}

.width-25{
    width: 23%;
}

.width-32{
    width: 31%;
}

.width-50{
    width: 50%;
}
.next-row{
    clear: both;
}

.margin-right-5{
    margin-right: 7%;
}


